spacy
pandas
streamlit>=1.22.0
chromadb>=0.4.0
transformers>=4.30.0
sentence-transformers>=2.2.2
langchain>=0.0.200
plotly>=5.15.0
torch>=2.0.0
docling>=0.4.0
pathlib>=1.0.1
python-docx>=0.8.11
PyPDF2>=3.0.0
pdfminer.six>=20221105
python-pptx>=0.6.21
pillow>=9.5.0
accelerate>=0.20.0
protobuf==3.20.3
pysqlite3-binary
